<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Recipe Project</a>
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarNavAltMarkup" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/recipe/index">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/recipe/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/recipe/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary" href="/doLogout" role="button">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-xxl">
    &nbsp;&nbsp;
    <h2>Events</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Event Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.eventName}"></td>
            <td><a class="btn btn-primary" th:href="@{/profile/event/edit/{id}(id=${event.id})}">Edit</a> </td>
            <td><a class="btn btn-primary" th:href="@{/profile/event/delete/{id}(id=${event.id})}">Delete</a> </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/profile}" class="btn btn-primary">Go Back</a>
</div>
</table>
</body>
</html>