<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Recipe Project</a>
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarNavAltMarkup" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8090/recipe/index">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/ingredient">Ingredients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/recipe/create">Create Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/ingredient/create">Create Ingredient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/profile/event/create">Create Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/meal/create">Create Meal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8090/recipe/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8090/profile">Profile</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary" href="/doLogout" role="button">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-xxl">
    &nbsp;&nbsp;
    <form method="post" th:action="@{/profile/event/edit/{id}(id=${event.id})}" th:object="${event}">
        <div class="mb-3">
            <label th:text="'Event Name'"></label>
            <input class="form-control" th:field="*{eventName}" th:oninput="this.setCustomValidity('')"
                   th:oninvalid="this.setCustomValidity('Event name cannot be blank')"
                   th:required="true"
                   type="text">
        </div>
        <button class="btn btn-primary" th:text="'Update Event'" type="submit"></button>
        <a th:href="@{/profile}" class="btn btn-primary">Back</a>
    </form>
</div>
</body>
</html>